<!DOCTYPE html>
<html>
  <head>
    <title>Entercom</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <h1><%= link_to License[:name], root_path %> v<%= APP_VERSION %></h1>
    <h2>Seats: <%= User.count %> / <%= License[:seats] %></h2>

    <% if flash[:notice] %>
      <div style="color:green"><%= flash[:notice] %></div>
    <% end %>

    <p>
      <%= link_to "posts", posts_path %> (<%= Post.count %>)
    </p>

    <% unless user_signed_in? %>
      <%= link_to "sign in", new_user_session_path %>
    <% else %>
      <%= current_user %>
      <%= link_to "sign out", destroy_user_session_path, method: :delete %>
    <% end %>

    <hr>

    <%= yield %>

  </body>
</html>
